@font-face {
    font-family: NetflixSans;
    src: url(NetflixSans-Regular.otf);
}

@font-face {
    font-family: NetflixSans;
    src: url(NetflixSans-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: NetflixSans;
    src: url(NetflixSans-Light.otf);
    font-weight: light;
}

@font-face {
    font-family: NetflixSans;
    src: url(NetflixSans-Medium.otf);
    font-weight: medium;
}